.form {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  margin-bottom: 20px;
}

.label {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.error {
  color: red;
  font-size: 0.8em;
  margin-top: 5px;
}

.button {
  padding: 10px 20px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.button:hover {
  background-color: #38833c;
  transform: scale(1.15);
  box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.3);
  color: #66d586;
}
